****
## JSON exercise | Data Provided by World Bank

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [1]:
#Import libraries
import pandas as pd
import json
from pandas.io.json import json_normalize
import numpy as np

In [2]:
#Read/Save DataFrame
df = pd.read_json('data/world_bank_projects.json')
#Inspect Data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
_id                         500 non-null object
approvalfy                  500 non-null int64
board_approval_month        500 non-null object
boardapprovaldate           500 non-null object
borrower                    485 non-null object
closingdate                 370 non-null object
country_namecode            500 non-null object
countrycode                 500 non-null object
countryname                 500 non-null object
countryshortname            500 non-null object
docty                       446 non-null object
envassesmentcategorycode    430 non-null object
grantamt                    500 non-null int64
ibrdcommamt                 500 non-null int64
id                          500 non-null object
idacommamt                  500 non-null int64
impagency                   472 non-null object
lendinginstr                495 non-null object
lendinginstrtype            495 non-null object
lendprojectcost             500 non-null int64
majorsector_percent         500 non-null object
mjsector_namecode           500 non-null object
mjtheme                     491 non-null object
mjtheme_namecode            500 non-null object
mjthemecode                 500 non-null object
prodline                    500 non-null object
prodlinetext                500 non-null object
productlinetype             500 non-null object
project_abstract            362 non-null object
project_name                500 non-null object
projectdocs                 446 non-null object
projectfinancialtype        500 non-null object
projectstatusdisplay        500 non-null object
regionname                  500 non-null object
sector                      500 non-null object
sector1                     500 non-null object
sector2                     380 non-null object
sector3                     265 non-null object
sector4                     174 non-null object
sector_namecode             500 non-null object
sectorcode                  500 non-null object
source                      500 non-null object
status                      500 non-null object
supplementprojectflg        498 non-null object
theme1                      500 non-null object
theme_namecode              491 non-null object
themecode                   491 non-null object
totalamt                    500 non-null int64
totalcommamt                500 non-null int64
url                         500 non-null object
dtypes: int64(7), object(43)
memory usage: 195.4+ KB

## 1. Ten Countries with the Most Projects

In [3]:
#Ten Countries with the Most Projects
df.countryname.value_counts()

Republic of Indonesia                       19
People's Republic of China                  19
Socialist Republic of Vietnam               17
Republic of India                           16
Republic of Yemen                           13
People's Republic of Bangladesh             12
Kingdom of Morocco                          12
Nepal                                       12
Republic of Mozambique                      11
Africa                                      11
Federative Republic of Brazil                9
Islamic Republic of Pakistan                 9
Burkina Faso                                 9
Republic of Tajikistan                       8
United Republic of Tanzania                  8
Republic of Armenia                          8
Kyrgyz Republic                              7
Hashemite Kingdom of Jordan                  7
Lao People's Democratic Republic             7
Federal Republic of Nigeria                  7
Republic of Peru                             6
Islamic State of Afghanistan                 6
West Bank and Gaza                           6
Republic of Kenya                            6
Democratic Republic of the Congo             6
Republic of Nicaragua                        6
Republic of Niger                            5
Republic of Moldova                          5
Republic of Liberia                          5
The Independent State of Papua New Guine     5
                                            ..
Argentine Republic                           2
Republic of Mauritius                        2
Arab Republic of Egypt                       2
Republic of Guatemala                        2
South Asia                                   2
Republic of Cameroon                         2
World                                        2
Republic of Kiribati                         1
Democratic Socialist Republic of Sri Lan     1
Republic of Chile                            1
Republic of Serbia                           1
Central African Republic                     1
East Asia and Pacific                        1
Republic of Congo                            1
Republic of Namibia                          1
Republic of Zimbabwe                         1
Romania                                      1
Republic of Belarus                          1
Tuvalu                                       1
Kingdom of Thailand                          1
People's Republic of Angola                  1
Antigua and Barbuda                          1
Republic of Poland                           1
Republic of Costa Rica                       1
Republic of Chad                             1
Republic of Cape Verde                       1
Republic of Panama                           1
Bosnia and Herzegovina                       1
Kingdom of Tonga                             1
Europe and Central Asia                      1
Name: countryname, Length: 118, dtype: int64

### It appears that China and Indonesia have the Most Projects through the World Bank

## 2. Find the top 10 major project themes (using column 'mjtheme_namecode').

In [4]:
#Must load json file as string since df cannot handle nested lists within dataframes
df = json.load((open('data/world_bank_projects.json')))
df = json_normalize(df, 'mjtheme_namecode')
df.head()

  code                                   name
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

In [5]:
df =pd.DataFrame(df)
df.name.value_counts()

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
Rule of law                                      12
Name: name, dtype: int64

Must fill in the missing values for the complete answer

## 3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

We need to sort values by code so that we can properly align all that is missing with backfill

In [6]:
df = df.sort_values(['code', 'name'])
df.name[df['name'] == ''] = np.nan
df.head(100)

     code                 name
212     1                  NaN
363     1                  NaN
1024    1                  NaN
1114    1                  NaN
1437    1                  NaN
2       1  Economic management
88      1  Economic management
175     1  Economic management
204     1  Economic management
205     1  Economic management
220     1  Economic management
222     1  Economic management
223     1  Economic management
249     1  Economic management
357     1  Economic management
453     1  Economic management
454     1  Economic management
458     1  Economic management
497     1  Economic management
647     1  Economic management
648     1  Economic management
784     1  Economic management
803     1  Economic management
841     1  Economic management
900     1  Economic management
1010    1  Economic management
1045    1  Economic management
1056    1  Economic management
1057    1  Economic management
1078    1  Economic management
...   ...                  ...
169    10    Rural development
181    10    Rural development
195    10    Rural development
255    10    Rural development
256    10    Rural development
257    10    Rural development
258    10    Rural development
259    10    Rural development
261    10    Rural development
262    10    Rural development
269    10    Rural development
271    10    Rural development
272    10    Rural development
273    10    Rural development
303    10    Rural development
314    10    Rural development
335    10    Rural development
336    10    Rural development
337    10    Rural development
344    10    Rural development
348    10    Rural development
353    10    Rural development
392    10    Rural development
402    10    Rural development
437    10    Rural development
438    10    Rural development
440    10    Rural development
444    10    Rural development
457    10    Rural development
478    10    Rural development

[100 rows x 2 columns]

In [7]:
df.name.value_counts().head(10)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
Name: name, dtype: int64

### The top ten project themes are above!